body{
	font-family:'Noto Sans TC', sans-serif;
	color: #407cb9;
}

h1,h2,h3,h4,h5,h6{
	font-family:'Noto Sans TC', sans-serif;
}
h1{
	font-size:5.5rem;
        color: #284391!important;
}

.subheading{
	font-family:'Noto Sans TC', sans-serif;
}
.bg-primary {
   background-color: #5c7fc4!important;
   background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");		
}
.text-primary {
    color: #487fba!important;
}
a{
   color:#407cbf;
}	

