body{
	font-family:'Noto Sans TC', sans-serif;
	color: #407cb9;
}

h1,h2,h3,h4,h5,h6{
	font-family:'Noto Sans TC', sans-serif;
}

.subheading{
	font-family:'Noto Sans TC', sans-serif;
}
.bg-primary {
    background-color: #101b3a!important;
}
.text-primary {
    color: #101b3a!important;
}
